<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <a href="/apprenants">&lt;-Retourner à liste</a>
    <h1>Nouvel apprenant</h1>
    <form action="/apprenants" method="POST">
        <label for="nom">Nom</label><br>
        <input type="text" name="nom" />
        <br><br>
        <label for="prenom">Prenom</label><br>
        <input type="text" name="prenom" /><br>
        <input type="submit" value="Créer" />
    </form>
</body>

</html>